In [100]:
import pandas as pd
import numpy as np
import scipy.stats

df = pd.read_csv('Data/GroundhogDay.csv')
df.head()

  Punxsutawney Phil  Early Spring
0         No Shadow             1
1       Full Shadow             0
2         No Shadow             1
3         No Shadow             1
4       Full Shadow             1

In [104]:
contigency_table = df.groupby('Punxsutawney Phil')['Early Spring'].value_counts().unstack()
contigency_table

Early Spring        0   1
Punxsutawney Phil
Full Shadow        37  26
No Shadow          24  28

In [105]:
scipy.stats.chisquare(contigency_table)

Power_divergenceResult(statistic=array([2.7704918 , 0.07407407]), pvalue=array([0.09601666, 0.78549475]))

In [106]:
scipy.stats.chi2_contingency(contigency_table)

(1.339253627789602,
 0.24716563533920116,
 1,
 array([[33.4173913, 29.5826087],
        [27.5826087, 24.4173913]]))