# Начало работы с датасетом

In [65]:
import pandas as pd
intakes = pd.read_csv('Data/Austin_Animal_Center_Intakes.csv', sep=';')
print(intakes.shape)
intakes.info()

(125753, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125753 entries, 0 to 125752
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         125753 non-null  object
 1   Name              86171 non-null   object
 2   DateTime          125753 non-null  object
 3   MonthYear         125753 non-null  object
 4   Found Location    125753 non-null  object
 5   Intake Type       125753 non-null  object
 6   Intake Condition  125753 non-null  object
 7   Animal Type       125753 non-null  object
 8   Sex upon Intake   125752 non-null  object
 9   Age upon Intake   125753 non-null  object
 10  Breed             125753 non-null  object
 11  Color             125753 non-null  object
dtypes: object(12)
memory usage: 11.5+ MB

In [66]:
intakes.drop('MonthYear', inplace=True, axis=1)

In [67]:
#intakes.to_csv('Intakes.csv', sep=';')

In [68]:
outcomes = pd.read_csv('Data/Austin_Animal_Center_Outcomes.csv', sep=';')
outcomes.drop('MonthYear', inplace=True, axis=1)

In [69]:
intakes_2019_2020_2021 = intakes[intakes['DateTime'].str.contains('2019') | 
                                 intakes['DateTime'].str.contains('2020') |
                                 intakes['DateTime'].str.contains('2021')]

In [71]:
intakes_2019_2020_2021.reset_index(drop=True, inplace=True)

In [114]:
intakes_2019_2020_2021.drop_duplicates(subset=['Animal ID'], keep = 'first', inplace=True)

In [115]:
intakes_2019_2020_2021.to_csv('Data/Intakes_2019-2021.csv', sep=';', index=None)

In [49]:
#outcomes.to_csv('Outcomes.csv', sep=';')

In [74]:
outcomes_2019_2020_2021 = outcomes[outcomes['DateTime'].str.contains('2019') | 
                                 outcomes['DateTime'].str.contains('2020') |
                                 outcomes['DateTime'].str.contains('2021')]

outcomes_2019_2020_2021.reset_index(drop=True, inplace=True)

In [116]:
outcomes_2019_2020_2021.drop_duplicates(subset=['Animal ID'], keep = 'last', inplace=True)

In [117]:
outcomes_2019_2020_2021.to_csv('Data/Outcomes_2019-2021.csv', sep=';', index=None)

In [118]:
intakes = pd.read_csv('Data/Intakes_2019-2021.csv', sep=';')
outcomes = pd.read_csv('Data/Outcomes_2019-2021.csv', sep=';')

In [119]:
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29568 entries, 0 to 29567
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal ID         29568 non-null  object
 1   Name              18813 non-null  object
 2   DateTime          29568 non-null  object
 3   Found Location    29568 non-null  object
 4   Intake Type       29568 non-null  object
 5   Intake Condition  29568 non-null  object
 6   Animal Type       29568 non-null  object
 7   Sex upon Intake   29568 non-null  object
 8   Age upon Intake   29568 non-null  object
 9   Breed             29568 non-null  object
 10  Color             29568 non-null  object
dtypes: object(11)
memory usage: 2.5+ MB

In [120]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29750 entries, 0 to 29749
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal ID         29750 non-null  object
 1   Name              19120 non-null  object
 2   DateTime          29750 non-null  object
 3   Date of Birth     29750 non-null  object
 4   Outcome Type      29730 non-null  object
 5   Outcome Subtype   14986 non-null  object
 6   Animal Type       29750 non-null  object
 7   Sex upon Outcome  29750 non-null  object
 8   Age upon Outcome  29750 non-null  object
 9   Breed             29750 non-null  object
 10  Color             29750 non-null  object
dtypes: object(11)
memory usage: 2.5+ MB

In [121]:
outcomes_sub = outcomes[['Animal ID', 'DateTime', 'Date of Birth', 'Outcome Type', 'Sex upon Outcome', 'Age upon Outcome']]

In [122]:
outcomes_sub.head()

,Animal ID,DateTime,Date of Birth,Outcome Type,Sex upon Outcome,Age upon Outcome
0,A794011,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,Neutered Male,2 years
1,A821648,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,Unknown,1 year
2,A659412,10/05/2020 02:37:00 PM,03/24/2013,Adoption,Spayed Female,7 years
3,A814515,05/06/2020 07:59:00 AM,03/01/2018,Adoption,Neutered Male,2 years
4,A803149,08/31/2019 04:26:00 PM,08/08/2019,Transfer,Intact Male,3 weeks

```Python 
pd.merge(
    left,
    right,
    how="inner", # left, outer, right
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
)
```

In [123]:
data = intakes.merge(outcomes_sub, how='left', on='Animal ID', suffixes=(" Intake", " Outcome"))

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29568 entries, 0 to 29567
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal ID         29568 non-null  object
 1   Name              18813 non-null  object
 2   DateTime Intake   29568 non-null  object
 3   Found Location    29568 non-null  object
 4   Intake Type       29568 non-null  object
 5   Intake Condition  29568 non-null  object
 6   Animal Type       29568 non-null  object
 7   Sex upon Intake   29568 non-null  object
 8   Age upon Intake   29568 non-null  object
 9   Breed             29568 non-null  object
 10  Color             29568 non-null  object
 11  DateTime Outcome  28947 non-null  object
 12  Date of Birth     28947 non-null  object
 13  Outcome Type      28927 non-null  object
 14  Sex upon Outcome  28947 non-null  object
 15  Age upon Outcome  28947 non-null  object
dtypes: object(16)
memory usage: 3.8+ MB

In [126]:
data.isna().sum()

Animal ID               0
Name                10755
DateTime Intake         0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         0
Age upon Intake         0
Breed                   0
Color                   0
DateTime Outcome      621
Date of Birth         621
Outcome Type          641
Sex upon Outcome      621
Age upon Outcome      621
dtype: int64

In [ ]:
full_data['Outcome Type'].value_counts(dropna=False)