# Меры центральной тенденции

In [ ]:
import pandas as pd

bikes = pd.read_pickle('Data/BikesDataVars.pkl')
bikes.head()

In [ ]:
bikes['Humidity'].sum() / len(bikes['Humidity'])

In [ ]:
hum_sorted = bikes['Humidity'].sort_values().reset_index(drop=True)
print(len(hum_sorted))
ind_1, ind_2 = int(len(hum_sorted)/2), int((len(hum_sorted) + 2)/2)
print((hum_sorted[ind_1] + hum_sorted[ind_2]) / 2)
print(hum_sorted[ind_1], hum_sorted[ind_2])

In [ ]:
bikes['Humidity'].value_counts().head(2)

In [ ]:
bikes['Humidity'].hist(bins=100)

In [ ]:
bikes.describe()

In [ ]:
bikes['Humidity'].describe()

In [ ]:
print(bikes['Humidity'].mean())
print(bikes['Humidity'].median())
print(bikes['Humidity'].mode())

In [ ]:
bikes.groupby('Hour')['Rental Count'].mean()

In [ ]:
bikes.groupby(['Hour','Good Weather'])['Rental Count'].mean()

In [ ]:
bikes.groupby('Hour')['Rental Count'].mean().plot(kind='bar')

In [ ]:
bikes.groupby('Hour')['Rental Count'].median()

In [ ]:
bikes.groupby('Seasons')['Temperature Category'].agg(pd.Series.mode)

In [ ]:
bikes.groupby('Seasons')['Temperature Category'].agg(lambda x: x.value_counts().index[0])

In [ ]:
bikes.groupby('Seasons')['Temperature'].agg('mean')

In [ ]:
bikes.groupby('Seasons')['Temperature'].mean()

In [ ]:
bikes.groupby('Seasons')['Temperature'].agg(func=['mean', 'median'])

In [ ]:
bikes.columns

In [105]:
bikes.pivot_table(index='Hour', 
                  values=['Temperature', 'Rental Count'],
                  aggfunc=['mean', 'median'])

             mean                   median
     Rental Count Temperature Rental Count Temperature
Hour
0      558.178082   11.253652          433       11.80
1      415.720548   10.972145          329       11.50
2      319.767123   10.542535          239       10.90
3      201.010959   10.355462          165       10.70
4      122.838356   10.069859           94       10.40
5      135.863014    9.849580          107       10.00
6      283.654795    9.763944          193       10.00
7      612.646575    9.454062          410        9.60
8      979.838356    9.988515          762       10.40
9      642.136986   11.459669          519       12.10
10     519.123288   12.766947          414       14.00
11     585.336986   14.285434          485       16.40
12     710.534247   15.417175          572       17.40
13     700.706849   16.184765          586       18.30
14     747.147945   16.862360          567       19.10
15     796.084932   17.084358          678       19.20
16     938.032877   16.821652          804       18.80
17    1128.873973   16.325281          899       18.40
18    1518.983562   15.255956         1154       16.80
19    1168.328767   14.254062          845       15.20
20    1069.698630   13.394460          721       14.10
21     997.942466   12.680165          688       13.40
22     893.621918   12.281461          649       12.95
23     671.898630   11.717416          516       12.25